<nav class="site-header sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2" href="#" aria-label="Product">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor"
                stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img"
                viewBox="0 0 24 24" focusable="false">
                <title>Product</title>
                <circle cx="12" cy="12" r="10" />
                <path
                    d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94" />
            </svg>
        </a>
        <a class="py-2 d-none d-md-inline-block" [ngxScrollTo]="'#home'">Home</a>
        <a class="py-2 d-none d-md-inline-block" [ngxScrollTo]="'#services'">Services</a>
        <a class="py-2 d-none d-md-inline-block" [ngxScrollTo]="'#photos'">Photos</a>
        <a class="py-2 d-none d-md-inline-block" [ngxScrollTo]="'#videos'">Videos</a>
        <a class="py-2 d-none d-md-inline-block" [ngxScrollTo]="'#products'">Products</a>
        <a class="py-2 d-none d-md-inline-block" [ngxScrollTo]="'#aboutus'">About Us</a>
        <a class="py-2 d-none d-md-inline-block" [ngxScrollTo]="'#contactus'">Contact Us</a>
    </div>
</nav>

<!-- Section-home -->
<section id="home" class="jumbotron jumbotron-fluid my-0 border">
    <div class="container">
        <h1 class="display-4">Home</h1>
    </div>
</section>
<!-- Section-Services -->
<section id="services" class="jumbotron jumbotron-fluid my-0 border">
    <div class="container">
        <h1 class="display-4">Services</h1>
    </div>
</section>
<!-- Section-photos -->
<section id="photos" class="jumbotron jumbotron-fluid my-0 border">
    <div class="container">
        <h1 class="display-4">Photos</h1>
    </div>
</section>
<!-- Section-videos -->
<section id="videos" class="jumbotron jumbotron-fluid my-0 border">
    <div class="container">
        <h1 class="display-4">Videos</h1>
    </div>
</section>
<!-- Section-products -->
<section id="products" class="jumbotron jumbotron-fluid my-0 border">
    <div class="container">
        <h1 class="display-4">Products</h1>
    </div>
</section>
<!-- Section-abooutus -->
<section id="aboutus" class="jumbotron jumbotron-fluid my-0 border">
    <div class="container">
        <h1 class="display-4">About Us</h1>
    </div>
</section>
<!-- Section-contactus -->
<section id="contactus" class="jumbotron jumbotron-fluid my-0 border">
    <div class="container">
        <h1 class="display-4">Contact Us Us</h1>
    </div>
</section>



<!-- Footer -->
<footer class="container py-5">
    <div class="row">
        <div class="col-12 col-md">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor"
                stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img"
                viewBox="0 0 24 24" focusable="false">
                <title>Product</title>
                <circle cx="12" cy="12" r="10" />
                <path
                    d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94" />
            </svg>
            <small class="d-block mb-3 text-muted">&copy; 2017-2020</small>
        </div>
        <div class="col-6 col-md">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Cool stuff</a></li>
                <li><a class="text-muted" href="#">Random feature</a></li>
                <li><a class="text-muted" href="#">Team feature</a></li>
                <li><a class="text-muted" href="#">Stuff for developers</a></li>
                <li><a class="text-muted" href="#">Another one</a></li>
                <li><a class="text-muted" href="#">Last time</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Resource</a></li>
                <li><a class="text-muted" href="#">Resource name</a></li>
                <li><a class="text-muted" href="#">Another resource</a></li>
                <li><a class="text-muted" href="#">Final resource</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Business</a></li>
                <li><a class="text-muted" href="#">Education</a></li>
                <li><a class="text-muted" href="#">Government</a></li>
                <li><a class="text-muted" href="#">Gaming</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Team</a></li>
                <li><a class="text-muted" href="#">Locations</a></li>
                <li><a class="text-muted" href="#">Privacy</a></li>
                <li><a class="text-muted" href="#">Terms</a></li>
            </ul>
        </div>
    </div>
</footer>