<nav class="site-header sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2" href="#" aria-label="Product">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor"
                stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img"
                viewBox="0 0 24 24" focusable="false">
                <title>Product</title>
                <circle cx="12" cy="12" r="10" />
                <path
                    d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94" />
            </svg>
        </a>
        <a class="py-2 d-none d-md-inline-block" [ngxScrollTo]="'#home'">Home</a>
        <a class="py-2 d-none d-md-inline-block" [ngxScrollTo]="'#services'">Services</a>
        <a class="py-2 d-none d-md-inline-block" [ngxScrollTo]="'#photos'">Photos</a>
        <a class="py-2 d-none d-md-inline-block" [ngxScrollTo]="'#videos'">Videos</a>
        <a class="py-2 d-none d-md-inline-block" [ngxScrollTo]="'#products'">Products</a>
        <a class="py-2 d-none d-md-inline-block" [ngxScrollTo]="'#aboutus'">About Us</a>
        <a class="py-2 d-none d-md-inline-block" [ngxScrollTo]="'#contactus'">Contact Us</a>
    </div>
</nav>


<div class="website__body">
    <!-- Section-home -->
    <section id="home" class="jumbotron jumbotron-fluid my-0 border pt-0 pt-md-4">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-5 col-lg-6 order-md-1 my-4 my-md-0">
                    <!-- Image -->
                    <img src="https://pradeepsuthar.github.io/hesley_website_australia/assets/images/placeholder-500x500.png" class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0"
                        alt="" data-aos="fade-up" data-aos-delay="100">
                </div>
                <div class="col-12 col-md-7 col-lg-6 order-md-2 pb-4 pt-md-3 mt-md-3 pt-lg-5 mt-lg-5"
                    data-aos="fade-up">
                    <!-- Heading -->
                    <h1 class="text-center text-md-left text-uppercase d-none d-lg-block">
                        smart nutrition scale
                    </h1>
                    <h2 class="text-center text-md-left text-uppercase mt-md-5 d-block d-lg-none">
                        smart nutrition scale
                    </h2>

                    <p class="lead d-none d-md-block text-justify">
                        Hesley Group are one of the UK's leading providers of specialist autism support, providing
                        specialist autism schools and autism care homes...
                    </p>
                    <!-- Buttons -->
                    <div class="text-center text-md-left mt-4">
                        <a href="overview.html" class="btn btn-primary shadow lift mr-1">
                            Learn More <span class="d-none d-md-inline"><svg width="1em" height="1em"
                                    viewBox="0 0 16 16" class="bi bi-chevron-right" fill="currentColor"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                                </svg></span>
                            <!-- <i class="fe fe-arrow-right d-none d-md-inline ml-3"></i> -->
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section-Services -->
    <section id="services" class="jumbotron jumbotron-fluid my-0 border">
        <div class="container">
            <div class="header text-center">
                <h1 class="d-none d-md-block mb-4"><b>Services</b></h1>
                <h4 class="d-block d-md-none"><b>Services</b></h4>
            </div>
            <div class="text-center mt-md-5 pt-md-3">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
                    <div class="col px-md-5">
                        <div>
                            <div class="text-center">
                                <img src="https://pradeepsuthar.github.io/hesley_website_australia/assets/images/quote.png" width="50" alt="" class="mb-md-4">
                                <p>Design is evolutinary process, and filter text is just one tool in your
                                    progress-pushing arsenal</p>
                            </div>
                            <div class="test_info mt-md-5">
                                <img src="https://pradeepsuthar.github.io/hesley_website_australia/assets/images/avatar.webp" width="40" alt="">
                                <p class="mt-2 mb-0"><b>Inverness McKenzie</b></p>
                                <p class="mt-0">@inverness_mcKenzie</p>
                            </div>
                        </div>
                    </div>
                    <div class="col px-md-5">
                        <div>
                            <div class="text-center">
                                <img src="https://pradeepsuthar.github.io/hesley_website_australia/assets/images/quote.png" width="50" alt="" class="mb-md-4">
                                <p>Design is evolutinary process, and filter text is just one tool in your
                                    progress-pushing arsenal</p>
                            </div>
                            <div class="test_info mt-md-5">
                                <img src="https://pradeepsuthar.github.io/hesley_website_australia/assets/images/avatar.webp" width="40" alt="">
                                <p class="mt-2 mb-0"><b>Inverness McKenzie</b></p>
                                <p class="mt-0">@inverness_mcKenzie</p>
                            </div>
                        </div>
                    </div>
                    <div class="col px-md-5">
                        <div>
                            <div class="text-center">
                                <img src="https://pradeepsuthar.github.io/hesley_website_australia/assets/images/quote.png" width="50" alt="" class="mb-md-4">
                                <p>Design is evolutinary process, and filter text is just one tool in your
                                    progress-pushing arsenal</p>
                            </div>
                            <div class="test_info mt-md-5">
                                <img src="https://pradeepsuthar.github.io/hesley_website_australia/assets/images/avatar.webp" width="40" alt="">
                                <p class="mt-2 mb-0"><b>Inverness McKenzie</b></p>
                                <p class="mt-0">@inverness_mcKenzie</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section-photos -->
    <section id="photos" class="jumbotron jumbotron-fluid my-0 border">
        <div class="header text-center">
            <h1 class="d-none d-md-block mb-4"><b>Image Gallery</b></h1>
            <h4 class="d-block d-md-none"><b>Image Gallery</b></h4>
        </div>
        <div class="container">
            <div class="mb-3" *ngIf="photoGallry">
                <div class="row_posters">
                    <ng-container *ngFor="let imgs of photoGallry;">
                        <img [src]="imgs?.imgUrl" class="img-fluid" alt="">
                    </ng-container>
                </div>
            </div>
        </div>
    </section>
    <!-- Section-videos -->
    <section id="videos" class="jumbotron jumbotron-fluid my-0 border">
        <div class="container">
            <h1 class="display-4">Videos</h1>
        </div>
    </section>
    <!-- Section-products -->
    <section id="products" class="jumbotron jumbotron-fluid my-0 border">
        <div class="header text-center">
            <h1 class="d-none d-md-block mb-4"><b>Our Products</b></h1>
            <h4 class="d-block d-md-none"><b>Our Products</b></h4>
        </div>
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
              <div class="col mb-2 mb-md-4" *ngFor="let product of products;">
                <div class="card rounded-0">
                    <div>
                        <img [src]="product?.productImgUrl" alt="" width="100%" height="300">
                        <span class="card__lable" *ngIf="product.sale">Sale!</span>
                    </div>
                    <div class="card-body text-center pt-2 pb-0">
                        <h4 class="card-title text-primary text-uppercase">{{product?.productName}}</h4>
                        <p><span class="mr-3 mrp"><b>Rs.{{product?.mrpPrice}}</b></span><span class="text-success"><b>Rs.{{product?.salePrice}}</b></span></p>
                    </div>
                </div>
              </div>
            </div>
          </div>
    </section>
    <!-- Section-abooutus -->
    <section id="aboutus" class="jumbotron jumbotron-fluid my-0 border">
        <div class="header text-center">
            <h1 class="d-none d-md-block mb-4"><b>About Us</b></h1>
            <h4 class="d-block d-md-none"><b>About Us</b></h4>
        </div>
        <div class="container">
            <h4>AMARDEEP GARMENTS SHOP</h4>
            <p>This is my own Readymade garments shop in pindwara. we provides best fashionable clouths.</p>
        </div>
    </section>
    <!-- Section-contactus -->
    <section id="contactus" class="jumbotron jumbotron-fluid my-0 border">
        <div class="header text-center">
            <h1 class="d-none d-md-block mb-4"><b>Contact Us</b></h1>
            <h4 class="d-block d-md-none"><b>Contact Us</b></h4>
        </div>
        <div class="container">
            <!-- FORM -->
            <form action="#">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="form-group pb-4">
                            <input type="text" placeholder="Your Name">
                        </div>
                        <div class="form-group pb-4">
                            <input type="email" placeholder="Your Email">
                        </div>
                        <div class="form-group pb-4">
                            <input type="text" placeholder="Your Phone Number">
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <textarea name="message" id="message" cols="30" rows="8"
                                placeholder="Enter Your Message"></textarea>
                        </div>
                    </div>
                    <div class="col-12">
                        <button class="custom-btn">Send a message</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>



<!-- Footer -->
<footer class="container py-5">
    <div class="row">
        <div class="col-12 col-md">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor"
                stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img"
                viewBox="0 0 24 24" focusable="false">
                <title>Product</title>
                <circle cx="12" cy="12" r="10" />
                <path
                    d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94" />
            </svg>
            <small class="d-block mb-3 text-muted">&copy; 2017-2020</small>
        </div>
        <div class="col-6 col-md">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Cool stuff</a></li>
                <li><a class="text-muted" href="#">Random feature</a></li>
                <li><a class="text-muted" href="#">Team feature</a></li>
                <li><a class="text-muted" href="#">Stuff for developers</a></li>
                <li><a class="text-muted" href="#">Another one</a></li>
                <li><a class="text-muted" href="#">Last time</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Resource</a></li>
                <li><a class="text-muted" href="#">Resource name</a></li>
                <li><a class="text-muted" href="#">Another resource</a></li>
                <li><a class="text-muted" href="#">Final resource</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Business</a></li>
                <li><a class="text-muted" href="#">Education</a></li>
                <li><a class="text-muted" href="#">Government</a></li>
                <li><a class="text-muted" href="#">Gaming</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Team</a></li>
                <li><a class="text-muted" href="#">Locations</a></li>
                <li><a class="text-muted" href="#">Privacy</a></li>
                <li><a class="text-muted" href="#">Terms</a></li>
            </ul>
        </div>
    </div>
</footer>